{% extends 'layout.html' %}
{% block content %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="row justify-content-around">
                <a class="navbar-brand" href="/">Planet list</a>
                <a class="navbar-brand" href="/">Voting statisctics</a>
                <a class="navbar-brand" href="/register" id="register">Registration</a>
                <a class="navbar-brand" href="/login" id="login">Login</a>
                <a class="navbar-brand" href="/">Logout</a>
                <div class="navbar-brand" id="signed-in">
                    {% if session['user_name'] %}
                        <div id="signIn">Signed in as
                            <data id="userName">{{ session['user_name'] }}</data>
                        </div>
                    {% else %}
                        <div id="signIn">Please Sign In</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <br>
    <h1>Star Wars universe planets</h1>
    <button id="previous" type="button" class="btn btn-primary">Previous</button>
    <button id="next" type="button" class="btn btn-primary">Next</button><br><br>
    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>Name</th>
            <th>Diameter</th>
            <th>Climate</th>
            <th>Terrain</th>
            <th>Surface Water Percentage</th>
            <th>Population</th>
            <th>Residents</th>
        </tr>
        </thead>
        <tbody id="tableData">

        </tbody>
    </table>

{% endblock %}